<transition name="slither">
    <div>
        <div>Welcome ......................... </div>
       <!--<input id="faiconpicker"></input>-->
        <!--<el-button type="primary" @click="test_mock1">mock1</el-button>-->
        <!--<el-button type="primary" @click="test_mock2">mock2</el-button>-->
        <!--<br><br> IVIEW <br>-->
        <!--<i-button @click="show">Click me!</i-button>-->
        <!--<Modal v-model="visible" title="Welcome">Welcome to iView</Modal>-->

        <!--<Cascader :data="data" v-model="value2"></Cascader>-->

    </div>
</transition>

