<div>
    <div id="dis">
    </div>
    <div style="padding: 30px;">
        <div>
             <el-input v-model="input" placeholder="请输入查询关键字"></el-input>
            <el-button type="primary" icon="search">搜索</el-button>
            <span class="nb">&nbsp;</span>
            <el-button type="button" @click="dialogFormVisible = true">添加一级部门</el-button>

           <!-- 一级部门From-->
            <el-dialog title="新增一级部门" :visible.sync="dialogFormVisible">

                <el-form :model="form">
                    <el-row>
                        <el-col :span="12">
                    <el-form-item label="组织机构名称" :label-width="formLabelWidth">
                        <el-input v-model="form.fOrganName" auto-complete="off" placeholder="请输入组织机构名称"></el-input>
                    </el-form-item>
                        </el-col>
                        <el-col :span="12">
                    <el-form-item label="是否正式使用" :label-width="formLabelWidth">
                        <el-select v-model="form.fOrganStatus" placeholder="请选择活动区域">
                            <el-option label="是" value=1></el-option>
                            <el-option label="否" value=0></el-option>
                        </el-select>
                    </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="12">
                            <el-form-item label="组织结构类型" :label-width="formLabelWidth">
                                <el-select v-model="form.fOrganKind" placeholder="请选择组织结构类型">
                                    <el-option label="类型一" value=1></el-option>
                                    <el-option label="类型二" value=0></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="所属区域" :label-width="formLabelWidth">
                                <el-select v-model="form.omAreaT" placeholder="请选择所属区域">
                                    <el-option label="区域一" value=1></el-option>
                                    <el-option label="区域二" value=2></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="12">
                            <el-form-item label="Inner_Duty" :label-width="formLabelWidth">
                                <el-select v-model="form.fInnerDuty" placeholder="Inner_Duty">
                                    <el-option label="是" value=1></el-option>
                                    <el-option label="否" value=0></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="负责人" :label-width="formLabelWidth">
                                <el-input v-model="form.fPrincipal" auto-complete="off" placeholder="请输入负责人"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="12">
                            <el-form-item label="失效日期" :label-width="formLabelWidth">
                                <el-date-picker
                                        v-model="form.fInactiveDate"
                                        type="date"
                                        placeholder="选择日期">
                                </el-date-picker>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="顺序" :label-width="formLabelWidth">
                                <el-input-number v-model="form.fOrder" :min="1" :max="100"></el-input-number>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="12">
                            <el-form-item label="fCityCode" :label-width="formLabelWidth">
                                <el-input v-model="form.fCityCode" auto-complete="off"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="fDutyParent" :label-width="formLabelWidth">
                                <el-input v-model="form.fDutyParent" auto-complete="off"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="24">
                            <el-form-item label="描述" :label-width="formLabelWidth">
                                <el-input
                                        type="textarea"
                                        :autosize="{ minRows: 2}"
                                        placeholder="请输入内容"
                                        v-model="form.fOrganDesc">
                                </el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-form>

                <div slot="footer" class="dialog-footer">
                    <el-button @click="dialogFormVisible = false">取 消</el-button>
                    <el-button type="primary" @click="dialogFormVisible = false;insert()">确 定</el-button>
                </div>
            </el-dialog>
            <!-- 一级部门From结束-->

            <el-button type="danger">批量删除</el-button>

        </div>
        <br>
      <!--  树状图模块-->
        <el-table :data="orgs" border max-height="400">
            <el-table-column
                    prop="fOrganId"
                    label="id"
                    type="selection"
                    fixed></el-table-column >
            <el-table-tree-column
                    fixed
                    :expand-all="!!1"
                    :remote="remote"
                    file-icon="icon icon-file"
                    folder-icon="icon icon-folder"
                    prop="fOrganName"
                    label="部门名称"
                    width="320"
                    class-name="123"
                    header-align="center">
            </el-table-tree-column>
            <el-table-column
                    prop="fOrganStatus"
                    label="是否正式启用"
                    :show-overflow-tooltip="true"
                    width="180"
            ></el-table-column >
            <el-table-column
                    prop="fOrganKind"
                    label="组织机构类型"
                    :show-overflow-tooltip="true"
                    width="180"
            ></el-table-column >
            <el-table-column
                    prop="fParentOrganId"
                    label="父级组织编码"
                    :show-overflow-tooltip="true"
                    width="180"
            ></el-table-column >
            <el-table-column
                    prop="omAreaT.fAreaId"
                    label="所属区域"
                    :show-overflow-tooltip="true"
                    width="180"
            ></el-table-column >
            <el-table-column
                    prop="fInnerDuty"
                    label="fInnerDuty"
                    :show-overflow-tooltip="true"
                    width="180"
            ></el-table-column >
            <el-table-column
                    prop="fPrincipal"
                    label="负责人"
                    :show-overflow-tooltip="true"
                    width="180"
            ></el-table-column >
            <!-- 操作区域-->
            <el-table-column label="操作" v-if="true" width="260" prop="id">
                <template scope="scope">
                    <el-button @click="update(scope.row.fOrganId)" size="small">
                        编辑
                    </el-button>
                    <el-button type="danger" size="small">删除</el-button>
                    <el-button size="small">
<!--                        <router-link :to="{ path: requestUrl, query: {parentId: scope.row.parentOId} }"
                                     tag="span">
                            添加下级树结构
                        </router-link>-->
                        添加子部门
                    </el-button>
                </template>
            </el-table-column>
            <!--操作区域结束-->
        </el-table>
       <!-- 树状图模块结束-->
    </div>
</div>
